body {
  overflow: hidden;
  background-color: #aaa;
}

#overlay_background {
  z-index: -1;
}

#overlay {
  z-index: 1;
}

#overlay, #overlay_background {
  overflow: hidden;
  position: absolute;
  top:  8px;
  left: 8px;
}

#warped {
  position: relative;
  display: block;
  width: 1078px;
  height: 902px;
  color: #064d76;
  overflow: hidden;
  -moz-transform-origin: 400px 400px;
  -moz-animation: spin 12s infinite linear;
  -webkit-animation: spin 12s infinite linear;
}

@-moz-keyframes spin {
  0%   { -moz-transform:rotate(0deg);   }
  100% { -moz-transform:rotate(360deg); }
}


#warped > span[class^=w]:nth-of-type(n+0) {
  display: block;
  position: absolute;
  -moz-transform-origin: 50% 100%;
}

#warped span {
  font-family: Impact,sans-serif;
    font-size:   48px;
  font-weight: bold;
  font-style:  normal;
  line-height: 0.6;
  white-space: pre;
  overflow:    visible;
  padding:     0px;
  top: 400px;
  left: 400px;
}

@mixin lmtr($x, $y, $r) {
  @each $agent in -moz- -webkit- -o- '' {
    #{$agent}transform: translate($x,$y) rotate($r);
  }
}

#warped {
  .w0  { @include lmtr( 249.41px,  -22.51px, 1.59rad); }  // I
  .w2  { @include lmtr( 244.58px,   09.55px, 1.72rad); }  // t
  .w3  { @include lmtr( 235.33px,   33.17px, 1.81rad); }  // h
  .w4  { @include lmtr( 226.85px,   60.47px, 1.92rad); }  // o
  .w5  { @include lmtr( 215.38px,   86.65px, 2.03rad); }  // u
  .w6  { @include lmtr( 201.84px,  110.97px, 2.14rad); }  // g
  .w7  { @include lmtr( 184.71px,  133.61px, 2.25rad); }  // h
  .w8  { @include lmtr( 173.05px,  151.47px, 2.35rad); }  // t

  .w10 { @include lmtr( 131.16px,  179.40px, 2.52rad); }  // w
  .w11 { @include lmtr( 107.55px,  196.83px, 2.65rad); }  // h
  .w12 { @include lmtr(  83.55px,  208.49px, 2.75rad); }  // a
  .w13 { @include lmtr(  65.26px,  216.14px, 2.84rad); }  // t

  .w15 { @include lmtr(  35.92px,  223.45px, 2.97rad); }  // I
  .w16 { @include lmtr(  21.47px,  225.52px, 3.03rad); }  // '
  .w17 { @include lmtr(  -7.08px,  226.93px, 3.11rad); }  // d

  .w19 { @include lmtr( -50.15px,  224.29px, 3.28rad); }  // d
  .w20 { @include lmtr( -78.16px,  218.57px, 3.39rad); }  // o

  .w22 { @include lmtr(-127.38px,  202.21px, 3.58rad); }  // w
  .w23 { @include lmtr(-149.94px,  186.65px, 3.71rad); }  // a
  .w24 { @include lmtr(-168.00px,  172.42px, 3.80rad); }  // s

  .w26 { @include lmtr(-189.57px,  149.94px, 3.93rad); }  // I
  .w27 { @include lmtr(-199.30px,  138.84px, 3.99rad); }  // '
  .w28 { @include lmtr(-219.76px,  121.95px, 4.08rad); }  // d

  .w30 { @include lmtr(-242.18px,   85.08px, 4.25rad); }  // p
  .w31 { @include lmtr(-247.39px,   63.03px, 4.34rad); }  // r
  .w32 { @include lmtr(-258.21px,   41.13px, 4.43rad); }  // e
  .w33 { @include lmtr(-260.03px,   18.66px, 4.52rad); }  // t
  .w34 { @include lmtr(-266.80px,   -4.20px, 4.61rad); }  // e
  .w35 { @include lmtr(-268.99px,  -31.76px, 4.72rad); }  // n
  .w36 { @include lmtr(-267.09px,  -60.28px, 4.83rad); }  // d

  .w38 { @include lmtr(-253.51px,  -96.26px, 4.97rad); }  // I

  .w40 { @include lmtr(-250.54px, -134.97px, 5.13rad); }  // w
  .w41 { @include lmtr(-229.96px, -163.28px, 5.26rad); }  // a
  .w42 { @include lmtr(-214.07px, -183.58px, 5.36rad); }  // s

  .w44 { @include lmtr(-190.39px, -213.59px, 5.51rad); }  // o
  .w45 { @include lmtr(-168.71px, -232.21px, 5.62rad); }  // n
  .w46 { @include lmtr(-144.94px, -247.79px, 5.73rad); }  // e

  .w48 { @include lmtr(-108.23px, -266.63px, 5.90rad); }  // o
  .w49 { @include lmtr( -80.93px, -274.25px, 5.99rad); }  // f

  .w51 { @include lmtr( -49.60px, -281.69px, 6.12rad); }  // t
  .w52 { @include lmtr( -30.16px, -284.43px, 6.21rad); }  // h
  .w53 { @include lmtr(  -1.58px, -284.75px, 6.32rad); }  // o
  .w54 { @include lmtr(  26.89px, -282.33px, 6.42rad); }  // s
  .w55 { @include lmtr(  49.03px, -277.62px, 6.52rad); }  // e

  .w57 { @include lmtr(  88.00px, -264.24px, 6.68rad); }  // d
  .w58 { @include lmtr( 113.73px, -252.00px, 6.79rad); }  // e
  .w59 { @include lmtr( 136.18px, -237.76px, 6.90rad); }  // a
  .w60 { @include lmtr( 158.12px, -224.21px, 6.98rad); }  // f
  .w61 { @include lmtr( 170.86px, -211.67px, 7.05rad); }  // -
  .w62 { @include lmtr( 180.36px, -188.98px, 7.17rad); }  // m
  .w63 { @include lmtr( 206.85px, -160.16px, 7.31rad); }  // u
  .w64 { @include lmtr( 222.70px, -138.91px, 7.41rad); }  // t
  .w65 { @include lmtr( 228.17px, -117.63px, 7.50rad); }  // e
  .w66 { @include lmtr( 237.56px,  -94.18px, 7.59rad); }  // s
}
