body {
  overflow: hidden;
  background-color: #aaa;
}

.lm_background {
  z-index: -1;
}

.lm_foreground {
  z-index: 1;
}

.lm_foreground, .lm_background {
  overflow: hidden;
  position: absolute;
  top: 8px;
  left: 8px;
}

.lm_txtwrap {
  position: relative;
  display: block;
  width: 1078px;
  height: 902px;
  color: #064d76;
  overflow: hidden;
  -moz-transform-origin: 400px 400px;
  -moz-animation: spin 12s infinite linear;
  -webkit-animation: spin 12s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

.lm_txtwrap > span[class^=w]:nth-of-type(n+0) {
  display: block;
  position: absolute;
  -moz-transform-origin: 50% 100%;
}

.lm_txtwrap span {
  font-family: Impact,sans-serif;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  line-height: 0.6;
  white-space: pre;
  overflow: visible;
  padding: 0px;
  top: 400px;
  left: 400px;
}

.lm_txtwrap .w0 {
  -moz-transform: translate(249.41px, -22.51px) rotate(1.59rad);
  -webkit-transform: translate(249.41px, -22.51px) rotate(1.59rad);
  -o-transform: translate(249.41px, -22.51px) rotate(1.59rad);
  transform: translate(249.41px, -22.51px) rotate(1.59rad);
}
.lm_txtwrap .w2 {
  -moz-transform: translate(244.58px, 9.55px) rotate(1.72rad);
  -webkit-transform: translate(244.58px, 9.55px) rotate(1.72rad);
  -o-transform: translate(244.58px, 9.55px) rotate(1.72rad);
  transform: translate(244.58px, 9.55px) rotate(1.72rad);
}
.lm_txtwrap .w3 {
  -moz-transform: translate(235.33px, 33.17px) rotate(1.81rad);
  -webkit-transform: translate(235.33px, 33.17px) rotate(1.81rad);
  -o-transform: translate(235.33px, 33.17px) rotate(1.81rad);
  transform: translate(235.33px, 33.17px) rotate(1.81rad);
}
.lm_txtwrap .w4 {
  -moz-transform: translate(226.85px, 60.47px) rotate(1.92rad);
  -webkit-transform: translate(226.85px, 60.47px) rotate(1.92rad);
  -o-transform: translate(226.85px, 60.47px) rotate(1.92rad);
  transform: translate(226.85px, 60.47px) rotate(1.92rad);
}
.lm_txtwrap .w5 {
  -moz-transform: translate(215.38px, 86.65px) rotate(2.03rad);
  -webkit-transform: translate(215.38px, 86.65px) rotate(2.03rad);
  -o-transform: translate(215.38px, 86.65px) rotate(2.03rad);
  transform: translate(215.38px, 86.65px) rotate(2.03rad);
}
.lm_txtwrap .w6 {
  -moz-transform: translate(201.84px, 110.97px) rotate(2.14rad);
  -webkit-transform: translate(201.84px, 110.97px) rotate(2.14rad);
  -o-transform: translate(201.84px, 110.97px) rotate(2.14rad);
  transform: translate(201.84px, 110.97px) rotate(2.14rad);
}
.lm_txtwrap .w7 {
  -moz-transform: translate(184.71px, 133.61px) rotate(2.25rad);
  -webkit-transform: translate(184.71px, 133.61px) rotate(2.25rad);
  -o-transform: translate(184.71px, 133.61px) rotate(2.25rad);
  transform: translate(184.71px, 133.61px) rotate(2.25rad);
}
.lm_txtwrap .w8 {
  -moz-transform: translate(173.05px, 151.47px) rotate(2.35rad);
  -webkit-transform: translate(173.05px, 151.47px) rotate(2.35rad);
  -o-transform: translate(173.05px, 151.47px) rotate(2.35rad);
  transform: translate(173.05px, 151.47px) rotate(2.35rad);
}
.lm_txtwrap .w10 {
  -moz-transform: translate(131.16px, 179.4px) rotate(2.52rad);
  -webkit-transform: translate(131.16px, 179.4px) rotate(2.52rad);
  -o-transform: translate(131.16px, 179.4px) rotate(2.52rad);
  transform: translate(131.16px, 179.4px) rotate(2.52rad);
}
.lm_txtwrap .w11 {
  -moz-transform: translate(107.55px, 196.83px) rotate(2.65rad);
  -webkit-transform: translate(107.55px, 196.83px) rotate(2.65rad);
  -o-transform: translate(107.55px, 196.83px) rotate(2.65rad);
  transform: translate(107.55px, 196.83px) rotate(2.65rad);
}
.lm_txtwrap .w12 {
  -moz-transform: translate(83.55px, 208.49px) rotate(2.75rad);
  -webkit-transform: translate(83.55px, 208.49px) rotate(2.75rad);
  -o-transform: translate(83.55px, 208.49px) rotate(2.75rad);
  transform: translate(83.55px, 208.49px) rotate(2.75rad);
}
.lm_txtwrap .w13 {
  -moz-transform: translate(65.26px, 216.14px) rotate(2.84rad);
  -webkit-transform: translate(65.26px, 216.14px) rotate(2.84rad);
  -o-transform: translate(65.26px, 216.14px) rotate(2.84rad);
  transform: translate(65.26px, 216.14px) rotate(2.84rad);
}
.lm_txtwrap .w15 {
  -moz-transform: translate(35.92px, 223.45px) rotate(2.97rad);
  -webkit-transform: translate(35.92px, 223.45px) rotate(2.97rad);
  -o-transform: translate(35.92px, 223.45px) rotate(2.97rad);
  transform: translate(35.92px, 223.45px) rotate(2.97rad);
}
.lm_txtwrap .w16 {
  -moz-transform: translate(21.47px, 225.52px) rotate(3.03rad);
  -webkit-transform: translate(21.47px, 225.52px) rotate(3.03rad);
  -o-transform: translate(21.47px, 225.52px) rotate(3.03rad);
  transform: translate(21.47px, 225.52px) rotate(3.03rad);
}
.lm_txtwrap .w17 {
  -moz-transform: translate(-7.08px, 226.93px) rotate(3.11rad);
  -webkit-transform: translate(-7.08px, 226.93px) rotate(3.11rad);
  -o-transform: translate(-7.08px, 226.93px) rotate(3.11rad);
  transform: translate(-7.08px, 226.93px) rotate(3.11rad);
}
.lm_txtwrap .w19 {
  -moz-transform: translate(-50.15px, 224.29px) rotate(3.28rad);
  -webkit-transform: translate(-50.15px, 224.29px) rotate(3.28rad);
  -o-transform: translate(-50.15px, 224.29px) rotate(3.28rad);
  transform: translate(-50.15px, 224.29px) rotate(3.28rad);
}
.lm_txtwrap .w20 {
  -moz-transform: translate(-78.16px, 218.57px) rotate(3.39rad);
  -webkit-transform: translate(-78.16px, 218.57px) rotate(3.39rad);
  -o-transform: translate(-78.16px, 218.57px) rotate(3.39rad);
  transform: translate(-78.16px, 218.57px) rotate(3.39rad);
}
.lm_txtwrap .w22 {
  -moz-transform: translate(-127.38px, 202.21px) rotate(3.58rad);
  -webkit-transform: translate(-127.38px, 202.21px) rotate(3.58rad);
  -o-transform: translate(-127.38px, 202.21px) rotate(3.58rad);
  transform: translate(-127.38px, 202.21px) rotate(3.58rad);
}
.lm_txtwrap .w23 {
  -moz-transform: translate(-149.94px, 186.65px) rotate(3.71rad);
  -webkit-transform: translate(-149.94px, 186.65px) rotate(3.71rad);
  -o-transform: translate(-149.94px, 186.65px) rotate(3.71rad);
  transform: translate(-149.94px, 186.65px) rotate(3.71rad);
}
.lm_txtwrap .w24 {
  -moz-transform: translate(-168px, 172.42px) rotate(3.8rad);
  -webkit-transform: translate(-168px, 172.42px) rotate(3.8rad);
  -o-transform: translate(-168px, 172.42px) rotate(3.8rad);
  transform: translate(-168px, 172.42px) rotate(3.8rad);
}
.lm_txtwrap .w26 {
  -moz-transform: translate(-189.57px, 149.94px) rotate(3.93rad);
  -webkit-transform: translate(-189.57px, 149.94px) rotate(3.93rad);
  -o-transform: translate(-189.57px, 149.94px) rotate(3.93rad);
  transform: translate(-189.57px, 149.94px) rotate(3.93rad);
}
.lm_txtwrap .w27 {
  -moz-transform: translate(-199.3px, 138.84px) rotate(3.99rad);
  -webkit-transform: translate(-199.3px, 138.84px) rotate(3.99rad);
  -o-transform: translate(-199.3px, 138.84px) rotate(3.99rad);
  transform: translate(-199.3px, 138.84px) rotate(3.99rad);
}
.lm_txtwrap .w28 {
  -moz-transform: translate(-219.76px, 121.95px) rotate(4.08rad);
  -webkit-transform: translate(-219.76px, 121.95px) rotate(4.08rad);
  -o-transform: translate(-219.76px, 121.95px) rotate(4.08rad);
  transform: translate(-219.76px, 121.95px) rotate(4.08rad);
}
.lm_txtwrap .w30 {
  -moz-transform: translate(-242.18px, 85.08px) rotate(4.25rad);
  -webkit-transform: translate(-242.18px, 85.08px) rotate(4.25rad);
  -o-transform: translate(-242.18px, 85.08px) rotate(4.25rad);
  transform: translate(-242.18px, 85.08px) rotate(4.25rad);
}
.lm_txtwrap .w31 {
  -moz-transform: translate(-247.39px, 63.03px) rotate(4.34rad);
  -webkit-transform: translate(-247.39px, 63.03px) rotate(4.34rad);
  -o-transform: translate(-247.39px, 63.03px) rotate(4.34rad);
  transform: translate(-247.39px, 63.03px) rotate(4.34rad);
}
.lm_txtwrap .w32 {
  -moz-transform: translate(-258.21px, 41.13px) rotate(4.43rad);
  -webkit-transform: translate(-258.21px, 41.13px) rotate(4.43rad);
  -o-transform: translate(-258.21px, 41.13px) rotate(4.43rad);
  transform: translate(-258.21px, 41.13px) rotate(4.43rad);
}
.lm_txtwrap .w33 {
  -moz-transform: translate(-260.03px, 18.66px) rotate(4.52rad);
  -webkit-transform: translate(-260.03px, 18.66px) rotate(4.52rad);
  -o-transform: translate(-260.03px, 18.66px) rotate(4.52rad);
  transform: translate(-260.03px, 18.66px) rotate(4.52rad);
}
.lm_txtwrap .w34 {
  -moz-transform: translate(-266.8px, -4.2px) rotate(4.61rad);
  -webkit-transform: translate(-266.8px, -4.2px) rotate(4.61rad);
  -o-transform: translate(-266.8px, -4.2px) rotate(4.61rad);
  transform: translate(-266.8px, -4.2px) rotate(4.61rad);
}
.lm_txtwrap .w35 {
  -moz-transform: translate(-268.99px, -31.76px) rotate(4.72rad);
  -webkit-transform: translate(-268.99px, -31.76px) rotate(4.72rad);
  -o-transform: translate(-268.99px, -31.76px) rotate(4.72rad);
  transform: translate(-268.99px, -31.76px) rotate(4.72rad);
}
.lm_txtwrap .w36 {
  -moz-transform: translate(-267.09px, -60.28px) rotate(4.83rad);
  -webkit-transform: translate(-267.09px, -60.28px) rotate(4.83rad);
  -o-transform: translate(-267.09px, -60.28px) rotate(4.83rad);
  transform: translate(-267.09px, -60.28px) rotate(4.83rad);
}
.lm_txtwrap .w38 {
  -moz-transform: translate(-253.51px, -96.26px) rotate(4.97rad);
  -webkit-transform: translate(-253.51px, -96.26px) rotate(4.97rad);
  -o-transform: translate(-253.51px, -96.26px) rotate(4.97rad);
  transform: translate(-253.51px, -96.26px) rotate(4.97rad);
}
.lm_txtwrap .w40 {
  -moz-transform: translate(-250.54px, -134.97px) rotate(5.13rad);
  -webkit-transform: translate(-250.54px, -134.97px) rotate(5.13rad);
  -o-transform: translate(-250.54px, -134.97px) rotate(5.13rad);
  transform: translate(-250.54px, -134.97px) rotate(5.13rad);
}
.lm_txtwrap .w41 {
  -moz-transform: translate(-229.96px, -163.28px) rotate(5.26rad);
  -webkit-transform: translate(-229.96px, -163.28px) rotate(5.26rad);
  -o-transform: translate(-229.96px, -163.28px) rotate(5.26rad);
  transform: translate(-229.96px, -163.28px) rotate(5.26rad);
}
.lm_txtwrap .w42 {
  -moz-transform: translate(-214.07px, -183.58px) rotate(5.36rad);
  -webkit-transform: translate(-214.07px, -183.58px) rotate(5.36rad);
  -o-transform: translate(-214.07px, -183.58px) rotate(5.36rad);
  transform: translate(-214.07px, -183.58px) rotate(5.36rad);
}
.lm_txtwrap .w44 {
  -moz-transform: translate(-190.39px, -213.59px) rotate(5.51rad);
  -webkit-transform: translate(-190.39px, -213.59px) rotate(5.51rad);
  -o-transform: translate(-190.39px, -213.59px) rotate(5.51rad);
  transform: translate(-190.39px, -213.59px) rotate(5.51rad);
}
.lm_txtwrap .w45 {
  -moz-transform: translate(-168.71px, -232.21px) rotate(5.62rad);
  -webkit-transform: translate(-168.71px, -232.21px) rotate(5.62rad);
  -o-transform: translate(-168.71px, -232.21px) rotate(5.62rad);
  transform: translate(-168.71px, -232.21px) rotate(5.62rad);
}
.lm_txtwrap .w46 {
  -moz-transform: translate(-144.94px, -247.79px) rotate(5.73rad);
  -webkit-transform: translate(-144.94px, -247.79px) rotate(5.73rad);
  -o-transform: translate(-144.94px, -247.79px) rotate(5.73rad);
  transform: translate(-144.94px, -247.79px) rotate(5.73rad);
}
.lm_txtwrap .w48 {
  -moz-transform: translate(-108.23px, -266.63px) rotate(5.9rad);
  -webkit-transform: translate(-108.23px, -266.63px) rotate(5.9rad);
  -o-transform: translate(-108.23px, -266.63px) rotate(5.9rad);
  transform: translate(-108.23px, -266.63px) rotate(5.9rad);
}
.lm_txtwrap .w49 {
  -moz-transform: translate(-80.93px, -274.25px) rotate(5.99rad);
  -webkit-transform: translate(-80.93px, -274.25px) rotate(5.99rad);
  -o-transform: translate(-80.93px, -274.25px) rotate(5.99rad);
  transform: translate(-80.93px, -274.25px) rotate(5.99rad);
}
.lm_txtwrap .w51 {
  -moz-transform: translate(-49.6px, -281.69px) rotate(6.12rad);
  -webkit-transform: translate(-49.6px, -281.69px) rotate(6.12rad);
  -o-transform: translate(-49.6px, -281.69px) rotate(6.12rad);
  transform: translate(-49.6px, -281.69px) rotate(6.12rad);
}
.lm_txtwrap .w52 {
  -moz-transform: translate(-30.16px, -284.43px) rotate(6.21rad);
  -webkit-transform: translate(-30.16px, -284.43px) rotate(6.21rad);
  -o-transform: translate(-30.16px, -284.43px) rotate(6.21rad);
  transform: translate(-30.16px, -284.43px) rotate(6.21rad);
}
.lm_txtwrap .w53 {
  -moz-transform: translate(-1.58px, -284.75px) rotate(6.32rad);
  -webkit-transform: translate(-1.58px, -284.75px) rotate(6.32rad);
  -o-transform: translate(-1.58px, -284.75px) rotate(6.32rad);
  transform: translate(-1.58px, -284.75px) rotate(6.32rad);
}
.lm_txtwrap .w54 {
  -moz-transform: translate(26.89px, -282.33px) rotate(6.42rad);
  -webkit-transform: translate(26.89px, -282.33px) rotate(6.42rad);
  -o-transform: translate(26.89px, -282.33px) rotate(6.42rad);
  transform: translate(26.89px, -282.33px) rotate(6.42rad);
}
.lm_txtwrap .w55 {
  -moz-transform: translate(49.03px, -277.62px) rotate(6.52rad);
  -webkit-transform: translate(49.03px, -277.62px) rotate(6.52rad);
  -o-transform: translate(49.03px, -277.62px) rotate(6.52rad);
  transform: translate(49.03px, -277.62px) rotate(6.52rad);
}
.lm_txtwrap .w57 {
  -moz-transform: translate(88px, -264.24px) rotate(6.68rad);
  -webkit-transform: translate(88px, -264.24px) rotate(6.68rad);
  -o-transform: translate(88px, -264.24px) rotate(6.68rad);
  transform: translate(88px, -264.24px) rotate(6.68rad);
}
.lm_txtwrap .w58 {
  -moz-transform: translate(113.73px, -252px) rotate(6.79rad);
  -webkit-transform: translate(113.73px, -252px) rotate(6.79rad);
  -o-transform: translate(113.73px, -252px) rotate(6.79rad);
  transform: translate(113.73px, -252px) rotate(6.79rad);
}
.lm_txtwrap .w59 {
  -moz-transform: translate(136.18px, -237.76px) rotate(6.9rad);
  -webkit-transform: translate(136.18px, -237.76px) rotate(6.9rad);
  -o-transform: translate(136.18px, -237.76px) rotate(6.9rad);
  transform: translate(136.18px, -237.76px) rotate(6.9rad);
}
.lm_txtwrap .w60 {
  -moz-transform: translate(158.12px, -224.21px) rotate(6.98rad);
  -webkit-transform: translate(158.12px, -224.21px) rotate(6.98rad);
  -o-transform: translate(158.12px, -224.21px) rotate(6.98rad);
  transform: translate(158.12px, -224.21px) rotate(6.98rad);
}
.lm_txtwrap .w61 {
  -moz-transform: translate(170.86px, -211.67px) rotate(7.05rad);
  -webkit-transform: translate(170.86px, -211.67px) rotate(7.05rad);
  -o-transform: translate(170.86px, -211.67px) rotate(7.05rad);
  transform: translate(170.86px, -211.67px) rotate(7.05rad);
}
.lm_txtwrap .w62 {
  -moz-transform: translate(180.36px, -188.98px) rotate(7.17rad);
  -webkit-transform: translate(180.36px, -188.98px) rotate(7.17rad);
  -o-transform: translate(180.36px, -188.98px) rotate(7.17rad);
  transform: translate(180.36px, -188.98px) rotate(7.17rad);
}
.lm_txtwrap .w63 {
  -moz-transform: translate(206.85px, -160.16px) rotate(7.31rad);
  -webkit-transform: translate(206.85px, -160.16px) rotate(7.31rad);
  -o-transform: translate(206.85px, -160.16px) rotate(7.31rad);
  transform: translate(206.85px, -160.16px) rotate(7.31rad);
}
.lm_txtwrap .w64 {
  -moz-transform: translate(222.7px, -138.91px) rotate(7.41rad);
  -webkit-transform: translate(222.7px, -138.91px) rotate(7.41rad);
  -o-transform: translate(222.7px, -138.91px) rotate(7.41rad);
  transform: translate(222.7px, -138.91px) rotate(7.41rad);
}
.lm_txtwrap .w65 {
  -moz-transform: translate(228.17px, -117.63px) rotate(7.5rad);
  -webkit-transform: translate(228.17px, -117.63px) rotate(7.5rad);
  -o-transform: translate(228.17px, -117.63px) rotate(7.5rad);
  transform: translate(228.17px, -117.63px) rotate(7.5rad);
}
.lm_txtwrap .w66 {
  -moz-transform: translate(237.56px, -94.18px) rotate(7.59rad);
  -webkit-transform: translate(237.56px, -94.18px) rotate(7.59rad);
  -o-transform: translate(237.56px, -94.18px) rotate(7.59rad);
  transform: translate(237.56px, -94.18px) rotate(7.59rad);
}
