body {
  overflow: hidden;
}

#overlay {
  overflow: hidden;
  position: absolute;
  top: 8px;
  left: 8px;
}

#warped {
  position: relative;
  display: block;
  width: 1078px;
  height: 902px;
  color: #064d76;
  overflow: hidden;
  -moz-transform-origin: 400px 400px;
}

#warped > span[class^=w]:nth-of-type(n+0) {
  display: block;
  position: absolute;
  -moz-transform-origin: 50% 100%;
}

#warped span {
  font-family: 'PT Sans';
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  line-height: 0.6;
  white-space: pre;
  overflow: visible;
  padding: 0px;
  top: 400px;
  left: 400px;
}

#warped {
  /* I */
  /* t */
  /* h */
  /* o */
  /* u */
  /* g */
  /* h */
  /* t */
  /* w */
  /* h */
  /* a */
  /* t */
  /* I */
  /* ' */
  /* d */
  /* d */
  /* o */
  /* w */
  /* a */
  /* s */
  /* I */
  /* ' */
  /* d */
  /* p */
  /* r */
  /* e */
  /* t */
  /* e */
  /* n */
  /* d */
  /* I */
  /* w */
  /* a */
  /* s */
  /* o */
  /* n */
  /* e */
  /* o */
  /* f */
  /* t */
  /* h */
  /* o */
  /* s */
  /* e */
  /* d */
  /* e */
  /* a */
  /* f */
  /* - */
  /* m */
  /* u */
  /* t */
  /* e */
  /* s */
}
#warped .w0 {
  -moz-transform: translate(249.41px, -22.51px) rotate(1.59rad);
}
#warped .w2 {
  -moz-transform: translate(244.58px, 9.55px) rotate(1.72rad);
}
#warped .w3 {
  -moz-transform: translate(235.33px, 33.17px) rotate(1.81rad);
}
#warped .w4 {
  -moz-transform: translate(226.85px, 60.47px) rotate(1.92rad);
}
#warped .w5 {
  -moz-transform: translate(215.38px, 86.65px) rotate(2.03rad);
}
#warped .w6 {
  -moz-transform: translate(201.84px, 110.97px) rotate(2.14rad);
}
#warped .w7 {
  -moz-transform: translate(184.71px, 133.61px) rotate(2.25rad);
}
#warped .w8 {
  -moz-transform: translate(173.05px, 151.47px) rotate(2.35rad);
}
#warped .w10 {
  -moz-transform: translate(131.16px, 179.4px) rotate(2.52rad);
}
#warped .w11 {
  -moz-transform: translate(107.55px, 196.83px) rotate(2.65rad);
}
#warped .w12 {
  -moz-transform: translate(83.55px, 208.49px) rotate(2.75rad);
}
#warped .w13 {
  -moz-transform: translate(65.26px, 216.14px) rotate(2.84rad);
}
#warped .w15 {
  -moz-transform: translate(35.92px, 223.45px) rotate(2.97rad);
}
#warped .w16 {
  -moz-transform: translate(21.47px, 225.52px) rotate(3.03rad);
}
#warped .w17 {
  -moz-transform: translate(-7.08px, 226.93px) rotate(3.11rad);
}
#warped .w19 {
  -moz-transform: translate(-50.15px, 224.29px) rotate(3.28rad);
}
#warped .w20 {
  -moz-transform: translate(-78.16px, 218.57px) rotate(3.39rad);
}
#warped .w22 {
  -moz-transform: translate(-127.38px, 202.21px) rotate(3.58rad);
}
#warped .w23 {
  -moz-transform: translate(-149.94px, 186.65px) rotate(3.71rad);
}
#warped .w24 {
  -moz-transform: translate(-168px, 172.42px) rotate(3.8rad);
}
#warped .w26 {
  -moz-transform: translate(-189.57px, 149.94px) rotate(3.93rad);
}
#warped .w27 {
  -moz-transform: translate(-199.3px, 138.84px) rotate(3.99rad);
}
#warped .w28 {
  -moz-transform: translate(-219.76px, 121.95px) rotate(4.08rad);
}
#warped .w30 {
  -moz-transform: translate(-242.18px, 85.08px) rotate(4.25rad);
}
#warped .w31 {
  -moz-transform: translate(-247.39px, 63.03px) rotate(4.34rad);
}
#warped .w32 {
  -moz-transform: translate(-258.21px, 41.13px) rotate(4.43rad);
}
#warped .w33 {
  -moz-transform: translate(-260.03px, 18.66px) rotate(4.52rad);
}
#warped .w34 {
  -moz-transform: translate(-266.8px, -4.2px) rotate(4.61rad);
}
#warped .w35 {
  -moz-transform: translate(-268.99px, -31.76px) rotate(4.72rad);
}
#warped .w36 {
  -moz-transform: translate(-267.09px, -60.28px) rotate(4.83rad);
}
#warped .w38 {
  -moz-transform: translate(-253.51px, -96.26px) rotate(4.97rad);
}
#warped .w40 {
  -moz-transform: translate(-250.54px, -134.97px) rotate(5.13rad);
}
#warped .w41 {
  -moz-transform: translate(-229.96px, -163.28px) rotate(5.26rad);
}
#warped .w42 {
  -moz-transform: translate(-214.07px, -183.58px) rotate(5.36rad);
}
#warped .w44 {
  -moz-transform: translate(-190.39px, -213.59px) rotate(5.51rad);
}
#warped .w45 {
  -moz-transform: translate(-168.71px, -232.21px) rotate(5.62rad);
}
#warped .w46 {
  -moz-transform: translate(-144.94px, -247.79px) rotate(5.73rad);
}
#warped .w48 {
  -moz-transform: translate(-108.23px, -266.63px) rotate(5.9rad);
}
#warped .w49 {
  -moz-transform: translate(-80.93px, -274.25px) rotate(5.99rad);
}
#warped .w51 {
  -moz-transform: translate(-49.6px, -281.69px) rotate(6.12rad);
}
#warped .w52 {
  -moz-transform: translate(-30.16px, -284.43px) rotate(6.21rad);
}
#warped .w53 {
  -moz-transform: translate(-1.58px, -284.75px) rotate(6.32rad);
}
#warped .w54 {
  -moz-transform: translate(26.89px, -282.33px) rotate(6.42rad);
}
#warped .w55 {
  -moz-transform: translate(49.03px, -277.62px) rotate(6.52rad);
}
#warped .w57 {
  -moz-transform: translate(88px, -264.24px) rotate(6.68rad);
}
#warped .w58 {
  -moz-transform: translate(113.73px, -252px) rotate(6.79rad);
}
#warped .w59 {
  -moz-transform: translate(136.18px, -237.76px) rotate(6.9rad);
}
#warped .w60 {
  -moz-transform: translate(158.12px, -224.21px) rotate(6.98rad);
}
#warped .w61 {
  -moz-transform: translate(170.86px, -211.67px) rotate(7.05rad);
}
#warped .w62 {
  -moz-transform: translate(180.36px, -188.98px) rotate(7.17rad);
}
#warped .w63 {
  -moz-transform: translate(206.85px, -160.16px) rotate(7.31rad);
}
#warped .w64 {
  -moz-transform: translate(222.7px, -138.91px) rotate(7.41rad);
}
#warped .w65 {
  -moz-transform: translate(228.17px, -117.63px) rotate(7.5rad);
}
#warped .w66 {
  -moz-transform: translate(237.56px, -94.18px) rotate(7.59rad);
}
