body {
  overflow: hidden;
}

#overlay {
  overflow: hidden;
  position: absolute;
  top:  8px;
  left: 8px;
}

#warped {
  position: relative;
  display: block;
  width: 1078px;
  height: 902px;
  color: #064d76;
  overflow: hidden;
  -moz-transform-origin: 400px 400px;
}

#warped > span[class^=w]:nth-of-type(n+0) {
  display: block;
  position: absolute;
  -moz-transform-origin: 50% 100%;
}

#warped span {
  font-family: 'PT Sans';
    font-size:   48px;
  font-weight: bold;
  font-style:  normal;
  line-height: 0.6;
  white-space: pre;
  overflow:    visible;
  padding:     0px;
  top: 400px;
  left: 400px;
}

#warped {
  .w0  { -moz-transform: translate( 249.41px,  -22.51px) rotate(1.59rad); }  /* I */
  .w2  { -moz-transform: translate( 244.58px,   09.55px) rotate(1.72rad); }  /* t */
  .w3  { -moz-transform: translate( 235.33px,   33.17px) rotate(1.81rad); }  /* h */
  .w4  { -moz-transform: translate( 226.85px,   60.47px) rotate(1.92rad); }  /* o */
  .w5  { -moz-transform: translate( 215.38px,   86.65px) rotate(2.03rad); }  /* u */
  .w6  { -moz-transform: translate( 201.84px,  110.97px) rotate(2.14rad); }  /* g */
  .w7  { -moz-transform: translate( 184.71px,  133.61px) rotate(2.25rad); }  /* h */
  .w8  { -moz-transform: translate( 173.05px,  151.47px) rotate(2.35rad); }  /* t */

  .w10 { -moz-transform: translate( 131.16px,  179.4px)  rotate(2.52rad); }  /* w */
  .w11 { -moz-transform: translate( 107.55px,  196.83px) rotate(2.65rad); }  /* h */
  .w12 { -moz-transform: translate(  83.55px,  208.49px) rotate(2.75rad); }  /* a */
  .w13 { -moz-transform: translate(  65.26px,  216.14px) rotate(2.84rad); }  /* t */

  .w15 { -moz-transform: translate(  35.92px,  223.45px) rotate(2.97rad); }  /* I */
  .w16 { -moz-transform: translate(  21.47px,  225.52px) rotate(3.03rad); }  /* ' */
  .w17 { -moz-transform: translate(  -7.08px,  226.93px) rotate(3.11rad); }  /* d */

  .w19 { -moz-transform: translate( -50.15px,  224.29px) rotate(3.28rad); }  /* d */
  .w20 { -moz-transform: translate( -78.16px,  218.57px) rotate(3.39rad); }  /* o */

  .w22 { -moz-transform: translate(-127.38px,  202.21px) rotate(3.58rad); }  /* w */
  .w23 { -moz-transform: translate(-149.94px,  186.65px) rotate(3.71rad); }  /* a */
  .w24 { -moz-transform: translate(-168.00px,  172.42px) rotate(3.80rad); }  /* s */

  .w26 { -moz-transform: translate(-189.57px,  149.94px) rotate(3.93rad); }  /* I */
  .w27 { -moz-transform: translate(-199.30px,  138.84px) rotate(3.99rad); }  /* ' */
  .w28 { -moz-transform: translate(-219.76px,  121.95px) rotate(4.08rad); }  /* d */

  .w30 { -moz-transform: translate(-242.18px,   85.08px) rotate(4.25rad); }  /* p */
  .w31 { -moz-transform: translate(-247.39px,   63.03px) rotate(4.34rad); }  /* r */
  .w32 { -moz-transform: translate(-258.21px,   41.13px) rotate(4.43rad); }  /* e */
  .w33 { -moz-transform: translate(-260.03px,   18.66px) rotate(4.52rad); }  /* t */
  .w34 { -moz-transform: translate(-266.80px,   -4.20px) rotate(4.61rad); }  /* e */
  .w35 { -moz-transform: translate(-268.99px,  -31.76px) rotate(4.72rad); }  /* n */
  .w36 { -moz-transform: translate(-267.09px,  -60.28px) rotate(4.83rad); }  /* d */

  .w38 { -moz-transform: translate(-253.51px,  -96.26px) rotate(4.97rad); }  /* I */

  .w40 { -moz-transform: translate(-250.54px, -134.97px) rotate(5.13rad); }  /* w */
  .w41 { -moz-transform: translate(-229.96px, -163.28px) rotate(5.26rad); }  /* a */
  .w42 { -moz-transform: translate(-214.07px, -183.58px) rotate(5.36rad); }  /* s */

  .w44 { -moz-transform: translate(-190.39px, -213.59px) rotate(5.51rad); }  /* o */
  .w45 { -moz-transform: translate(-168.71px, -232.21px) rotate(5.62rad); }  /* n */
  .w46 { -moz-transform: translate(-144.94px, -247.79px) rotate(5.73rad); }  /* e */

  .w48 { -moz-transform: translate(-108.23px, -266.63px) rotate(5.90rad); }  /* o */
  .w49 { -moz-transform: translate( -80.93px, -274.25px) rotate(5.99rad); }  /* f */

  .w51 { -moz-transform: translate( -49.60px, -281.69px) rotate(6.12rad); }  /* t */
  .w52 { -moz-transform: translate( -30.16px, -284.43px) rotate(6.21rad); }  /* h */
  .w53 { -moz-transform: translate(  -1.58px, -284.75px) rotate(6.32rad); }  /* o */
  .w54 { -moz-transform: translate(  26.89px, -282.33px) rotate(6.42rad); }  /* s */
  .w55 { -moz-transform: translate(  49.03px, -277.62px) rotate(6.52rad); }  /* e */

  .w57 { -moz-transform: translate(  88.00px, -264.24px) rotate(6.68rad); }  /* d */
  .w58 { -moz-transform: translate( 113.73px, -252.00px) rotate(6.79rad); }  /* e */
  .w59 { -moz-transform: translate( 136.18px, -237.76px) rotate(6.90rad); }  /* a */
  .w60 { -moz-transform: translate( 158.12px, -224.21px) rotate(6.98rad); }  /* f */
  .w61 { -moz-transform: translate( 170.86px, -211.67px) rotate(7.05rad); }  /* - */
  .w62 { -moz-transform: translate( 180.36px, -188.98px) rotate(7.17rad); }  /* m */
  .w63 { -moz-transform: translate( 206.85px, -160.16px) rotate(7.31rad); }  /* u */
  .w64 { -moz-transform: translate( 222.70px, -138.91px) rotate(7.41rad); }  /* t */
  .w65 { -moz-transform: translate( 228.17px, -117.63px) rotate(7.50rad); }  /* e */
  .w66 { -moz-transform: translate( 237.56px,  -94.18px) rotate(7.59rad); }  /* s */
}
